<div>
    <button id="resetButton" mat-raised-button (click)="resetScore()">Reset</button>
    <div class="split left">
        <button (click)="clickLeft()">
            <div class="centered">
                <p class="number">{{this.leftCounter}}</p>
            </div>
        </button>
    </div>

    <div class="split right">
        <button (click)="clickRight()">
            <div class="centered">
                <p class="number">{{this.rightCounter}}</p>
            </div>
        </button>
    </div>
</div>