<ng-template id="dialogTemplate" #startDialog>
    <h2>Quizmodus</h2>
    <mat-dialog-content>
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="boxes" (change)="onToggleChange($event.value)">Feste Punktzahl</mat-button-toggle>
            <mat-button-toggle value="counter" (change)="onToggleChange($event.value)">Variable
                Punktzahl</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button type="submit" (click)="loadCounter()" mat-raised-button matDialogClose color="accent">Weiter</button>
    </mat-dialog-actions>
</ng-template>
<div *ngIf="this.loadComponent && !this.boxCounter">
    <counter></counter>
</div>
<div *ngIf="this.loadComponent && this.boxCounter">
    <boxes></boxes>
</div>